
body{
        background-color: black;
        margin: 0;
    }

    .nav{
        height: 10px;
    }
    .navbar{
        border-bottom: rgb(255, 174, 0) 2px solid;
        height: 80px;
    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap :25px;
        margin-top: -3.5rem;
    }
    li a{
        text-decoration: underline rgb(255, 174, 0);
        color: white;
        font-size: 22px;
    }
    img{
        height: 80px;
        margin-left: 5%;
    }

/* ABOUT SECTION */
section{
    background-color: black;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head svg{
    color: gold;   
    height: 40px;
    width: 40px;
}
.about_t{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
